
@using CodingEvents.ViewModels;
@model AddEventViewModel;

<h1>Add Event</h1>

<form method="post">
    <div asp-controller="Events" asp-action="Add" class="form-group">
        <label asp-for="Name">Event Name</label>
        <input asp-for="Name" placeholder="Event Name" />
    </div>
    <div asp-controller="Events" asp-action="Add" class="form-group">
        <label asp-for="Description">Event Description</label>
        <input asp-for="Description" placeholder="Event Description" />
    </div>
        <input type="submit" value="Add Event" />
</form>