@model CodingEvents.ViewModels.EventDetailViewModel

<h1>@Model.Name</h1>

<table class="table">
    <tr>Description
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Contact Email</td>
        <td>@Model.ContactEmail</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>@Model.CategoryName</td>
    </tr>
</table>