<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}

<table>
    @foreach (KeyValuePair<string, string> codeEvent in ViewBag.events)
    {
        <tr>
            <th style="font-weight: bold">@codeEvent.Key</th>
            <th style="font-weight: lighter">@codeEvent.Value</th>
        </tr>
    }
</table>
