

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if (ViewBag.events.Count > 0)
{
    <p>
        <a asp-controller="Events" asp-action="Delete">Delete Event</a>
    </p>
}



@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Event</th>
            <th>Description</th>
        </tr>
        @foreach (Event codeEvent in ViewBag.events)
        {

    <tr>
        <td style="font-weight: bold">@codeEvent.Id</td>
        <td style="font-weight: bold">@codeEvent.Name</td>
        <td style="font-weight: lighter">@codeEvent.Description</td>
        <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@codeEvent.Id">Edit Event</a></td>

    </tr>
        }
    </table>
}

