<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if (ViewBag.events.Count > 0)
{
    <p>
        <a asp-controller="Events" asp-action="Delete">Delete Event</a>
    </p>
}


@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Event</th>
            <th>Description</th>
        </tr>
        @foreach (Event codeEvent in ViewBag.events)
        {

            <tr>
                <th style="font-weight: bold">@codeEvent.Id</th>
                <th style="font-weight: bold">@codeEvent.Name</th>
                <th style="font-weight: lighter">@codeEvent.Description</th>
            </tr>
        }
    </table>
}

