@using CodingEvents.ViewModels;
@model AddEventCategoryViewModel;

<h1>Add Event</h1>

<form asp-controller="EventCategory" asp-action="ProcessCreateEventCategoryForm" method="post">
    <div class="form-group">
        <label asp-for="Name">Category</label>
        <input asp-for="Name" placeholder="Category" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Event" />
</form>
